__pycache__/
.pytest_cache/
__pycache__/analyse.cpython-312.pyc
__pycache__/analyse.cpython-312.pyc
__pycache__/db.cpython-312.pyc
__pycache__/db.cpython-39.pyc
__pycache__/db_functions.cpython-312.pyc
__pycache__/db_functions.cpython-39.pyc
